
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    /*Phần đầu*/
    #div-adv {
        background-color: #D95B5B;
        width: 100%;
        height: 70px;
    }
    #div-top {
        background-color:white;
        width: 100%;
        height: 70px;
        font-family: 'Croissant One', cursive;
        font-family: 'Mooli', sans-serif;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: larger;
        margin:15px;
    }

    .fm-menu {
        list-style-type: none;
        display: inline-flex;
    }

    .fm-adv {
        list-style-type: none;
        display: inline-flex;
    }

    .fm-menu-img {
        width: 30px;
        height: 30px;
        list-style-type: none;
        display: inline-flex;
    }

    .fm-tk {
        list-style-type: none;
        display: inline-flex;
        padding-bottom: 5px;
    }

   
    
    /*Phần MainContent*/
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .advertise{
        padding:20px;
    }
    .list {
        background-color: antiquewhite;
        width:auto;
        height:150px;
        margin:15px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .card-title{
        padding-right:35px;
    }
    .Item-name{
        text-align:center;
    }
    .NewRegister {
        background-color: darkgrey;
        width: 100%;
        height: 130px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }
    /*.fm-img {
        width: 20px;
        height: 20px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }*/
    .title-account {
        list-style-type: none;
        display: inline-flex;
    }
    .fm-account {
        text-decoration: none;
        padding: 20px;
        text-align: center;
    }
    .account {
        display:grid;
        place-items:center;
    }

</style>
<h2> </h2>

